/* CSS Document */

body             
{			
font-family:arial, verdana, helvetica; 
color:#000000; 
font-size:14px; 
background-color:rgb(207, 207, 207);
}



h1             
{
font-family:impact, sans-serif;
color:rgb(255, 255, 255);
font-size:60px;
margin: 5px;
outline: 1px solid black;
}

/* banner image */
#head {
  width: 100%;
  overflow: hidden;
  
}

#head img {
  display: block;
  width: 100%;      
  height: auto;     
  object-fit: cover;
}

header {
  text-align: left;
  background-color: #000000;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
  width: 100%;
  height: auto;
}

nav {
width: 100%;
height: 40px;
background-color:rgb(255, 255, 255);
margin-bottom: 1px;
outline: 1px solid black;

}

ul li {
  color: white;
  font-size: 40px;
  list-style: none;
  float: left;
  float: none;

}
 

nav ul li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: black;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: -20px;
}

nav ul li a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

/* Product gallery layout */
.product-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Each image container */
.image-container {
  position: relative;
  display: inline-block;
}

/* Image style */
.image-container img {
  width: 600px;
  height: 604px;
  border-radius: 10px;
  display: block;
}

/* Text overlay */
.text-overlay {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 200px;
  border-radius: 3px;
  text-align: center;
  opacity: 1;
}

/* Show text on hover */
.image-container:hover .text-overlay {
  opacity: 1;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}



